/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
#F09AE9
#FFC1FA
#FFE78F
#FFD36B
#9b8ae6
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding-left: 30px;
    padding-right: 30px;
}

/* url(img/nesa-by-makers-kwzWjTnDPLk-unsplash.jpg) */
.header {
    background-color: #FFE78F;
    background-size: cover;
    background-position: top;
    position: relative;
    /* clip-path: polygon(100% 0, 100% 100%, 49% 85%, 0 100%, 0 0); */
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    margin: 2%;
    color: #F09AE9;
    font-weight: 400;
    display: inline;
    text-decoration: none;
    font-size: 1.25rem;
}

nav a:hover {
    color: #9b8ae6;
    font-weight: 900;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: #F09AE9;
}

#main{
    background-color: #FFC1FA;
    background-size: cover;
    background-position: top;
}

#main h2{
    font-size: 2rem;
    text-align: center;
    color: #777;
    padding-top: 5%;
}

#main p{
    padding: 2% 7%;
}