/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
#F09AE9
#FFC1FA
#FFE78F
#FFD36B
#9b8ae6
#BA3D67
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/blog-header-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}

.header {
    /* background-image: url(/img/blog-header-img.jpg); */
    background-size: cover;
    background-position: center;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    /* color: #F09AE9; */
    color: #FFE78F;
    padding: 0.5%;
    /* background: #9b8ae6; */
    border-radius: 10px;
}

a:hover {
    font-weight: bold;
}

h1 {
    /* color: #F09AE9; */
    /* background: #9b8ae6; */
    color: #FFE78F;
    padding: 0.5%;
    border-radius: 10px;
    font-size: 2rem;
}

/* #main {
    background-color: rgb(255, 247, 254);
} */

#main h2 {
    font-size: 2rem;
    text-align: center;
    color: #777;
    padding: 2%;
    color: #BA3D67;
}
section {
    padding: 2% 7%;
}

#main p {
    padding-top: 2%;
}

.blog1{
    background-color: rgb(255, 247, 254);
}

.resources{
    background-color: rgb(255, 247, 254);
}

.emptySec{
    height: 5vh;
}

footer {
    /* background-color: #FFE78F; */
    padding: 2%;
    text-align: center;
}

footer h3 {
    font-size: 1.5rem;
    color: #FFE78F;
}

footer i {
    font-size: 1.5rem;
    color: #FFE78F;
}