/*
#F09AE9
#FFC1FA
#FFE78F
#FFD36B
#9b8ae6
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family:
}

body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.header {
  /* viewport height */
  height: 100vh;
  background-image:
    linear-gradient(to right bottom,
      #ffc1fa96, #ffe78f79);
  background-size: cover;
  background-position: top;
  position: relative;
  /* clip-path: polygon(100% 0, 100% 100%, 49% 85%, 0 100%, 0 0); */
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-box h1 {
  color: #9b8ae6;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  line-height: normal;
  /* letter-spacing: 35px; */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-iteration-count: 3; */
  /* animation-delay: 3s; */
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.heading-primary-sub a {
  letter-spacing: 0;
  color: #F09AE9;
  font-weight: 100;
  display: inline;
  text-decoration: none;
}

.heading-primary-sub a:hover {
  letter-spacing: 0;
  color: #9b8ae6;
  font-weight: 900;
  display: inline;
  text-decoration: none;
}

.aboutMe {
  letter-spacing: 0;
  font-weight: 400;
  color: #9b8ae6;
}

.aboutMe h2 {
  font-weight: 400;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}